

  <div id="main">

    <div class="tabs is-boxed">
      <ul>
        <li class="astroNick">
          <a>
            <span class="nameNick">Nick Hague</span>
          </a>
        </li>
  
        <li class="astroAlexey">
          <a>
            <span class="nameAlexey">Alexey Ovchinin</span>
          </a>
        </li>

        <li class="astroChristina">
          <a>
            <span class="nameChristina">Christina Koch</span>
          </a>
        </li>

        <li class="astroAnne">
          <a>
            <span class="nameAnne">Anne McClain</span>
          </a>
        </li>

        <li class="astroOleg">
          <a>
            <span class="nameOleg">Oleg Kononenko</span>
          </a>
        </li>

        <li class="astroDavid">
          <a>
            <span class="nameDavid">David saint-jaques</span>
          </a>
        </li>

        <li class="menuBurger">
          
            <button class="astronome">ASTRONAUTES</button>
          
        </li>

      </ul>

    </div>
  
    <div class='bodyInfo'> 
    
        <h3>Informations ASTRONAUTES</h3>
       
    </div>
  
  </div>
  

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>