<<<<<<< HEAD
body {
    margin: 0%;
}

@mixin backgroundM ($background) {

  background-image: $background;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

=======
$fontFamily : 'nasalization';

@mixin backgroundM ($background) {

    background-image: $background;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100vh;
}


>>>>>>> d9445bfdce86b03614cbee2397339e1663934279
.background {

    @include backgroundM(url('https://i.postimg.cc/KjBM7XwG/astronaut-1784245.jpg'));

}
<<<<<<< HEAD

.mapStyle {

    width: 100%;
    height: 750px;
=======
.mapStyle { 

    width: 100%;
    height: 800px;
    
>>>>>>> d9445bfdce86b03614cbee2397339e1663934279

}

.rognerMap {

<<<<<<< HEAD
    padding-top: 100px;
    width: 44%;
    margin-left: 26%;
=======
    overflow: hidden;
    width:44%; 
    height: 850px;
    margin-left: 28%;
    padding-top: 100px;
>>>>>>> d9445bfdce86b03614cbee2397339e1663934279

}