<div class="listObsStyle">
   <div class="button">
      Observatoire Jean Marc Salomon
   </div>
   <div class="button">
      Observatoire Jean Marc Salomon
   </div>
   <div class="button">
      Observatoire Jean Marc Salomon
   </div>
   <div class="button">
      Observatoire Jean Marc Salomon
   </div>
   <div class="button">
      Observatoire Jean Marc Salomon
   </div>
   <div class="button">
      Observatoire Jean Marc Salomon
   </div>
   <div class="button">
      Observatoire Jean Marc Salomon
   </div>
   <div class="button">
      Observatoire Jean Marc Salomon
   </div>
   <div class="button">
      Observatoire Jean Marc Salomon
   </div>
   <div class="button">
      Observatoire Jean Marc Salomon
   </div>
</div>