<footer class="footer">
  <div class="content columns has-text-centered test-background is-bold">
    <div class="column is-one-third">
      <span>Noname</span> by <a href="">ISA</a>.
    </div>
    <div class="column is-one-third">
      <a href="">Copyright <i class="fa fa-copyright"></i> _ All rights reserved</a>
    </div>
    <div class="column is-one-third">
      <div class="columns columnSocial">
        <div class="column is-one-third">
          <i class="fa fa-twitter fa-2x"></i>
        </div>
        <div class="column is-one-third">
          <i class="fa fa-facebook fa-2x"></i>
        </div>
        <div class="column is-one-third">
          <i class="fa fa-instagram fa-2x"></i>
        </div>
      </div>
    </div>

  </div>
</footer>