<footer class="footer">
  <div class="content columns has-text-centered is-bold">
    <div class="column is-one-third">
      <span>Noname</span> by <p>ISA</p>.
    </div>
    <div class="column is-one-third">
      <p>Copyright <i class="fa fa-copyright"></i> _ All rights reserved</p>
    </div>
    <div class="column is-one-third">
      <div class="columns columnSocial">
        <div class="column is-one-third">
          <a href="https://twitter.com/nasa" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        </div>
        <div class="column is-one-third">
          <a href="https://www.facebook.com/NASA/" target="_blank">
            <i class="fa fa-facebook fa-2x"></i>
          </a>          
        </div>
        <div class="column is-one-third">
          <a href="https://www.instagram.com/nasa/?hl=fr" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
          </a>          
        </div>
      </div>
    </div>
    
  </div>
</footer>
