<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<div id="main">
  <div class="tabsComponent is-boxed">
    <ul>
      <li [ngClass]="{backGroundTabs: conferences}" class="eclipses">
        <a id="buttonEclipses" (click)="showEclipse($event)">
          <img src="../../assets/icons/telescope1.png/" alt='icon'><span class="eventsTitles1">Éclipses</span>
        </a>
      </li>

      <li [ngClass]="{backGroundTabs: eclipses}" class="conferences">
        <a id="buttonConferences" (click)="showConference($event)">
          <img src="../../assets/icons/rocket.png" alt='icon' class="icon2"><span class="eventsTitles2">Conférences</span>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="eclipses" class='bodyEvent'>

    <app-count-down></app-count-down>
    <p>{{eventList.title}}</p>
    
  </div>

  <div *ngIf="conferences" class='bodyEvent'>

      <app-count-down></app-count-down>

      <h2>Conferences</h2>

      <p >This event is CONFERENCES.</p>

  </div>

</div>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
