nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background:rgba(255,255,255,0.1);
  padding: 1vh;

  &.changeColor {
    background-color: black;
  }
}

.navbar {
  width: 100vw;
}

div.navbar-dropdown {
  background:rgba(255,255,255,0.1);

  &.changeColor {
    background-color: black;
  }
}

a.navbar-item {
  color: white;

  &:hover {
    color: red !important;
  }
}

a.navbar-link {
  color: white;

  &:hover {
    color: red !important;
  }
}

/* Mobile Version + Media Queries */

.navbar-burger {
  color: white;
}

a:hover {
  color: white;
}

@media screen and (max-width: 1087px){
  .navbar {
    background-color: black;
    z-index: 31; //this z-index is for the display of search bar in mobile version.
  }

  .navbar-menu {
    background-color: black;
  }

.arrow-color:after {
  border-color: white !important;
  }
}
