<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="https://spacex.com" target="_blank">
			<img src="../assets/icons/logo.png" id="logo" width="112" height="28">
		</a>

		<a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu"
			aria-expanded="false" data-target="navbar-menu">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div class="navbar-menu" #navMenu>
		<div class="navbar-end">

			<a routerLink='about' class="navbar-item">
				About
			</a>

			<div class="navbar-item has-dropdown is-hoverable">
				<a class="arrow-color navbar-link">
					Planets
				</a>

				<div class="navbar-dropdown">
					<a class="navbar-item">
						Earth
					</a>
					<a class="navbar-item">
						Mars
					</a>
					<a class="navbar-item">
						Moon
					</a>
				</div>
			</div>

			<a class="navbar-item">
				Astro
			</a>

			<a routerLink='agenda' class="navbar-item">
				Agenda
			</a>

			<a routerLink='live' class="navbar-item">
				Live ISS
			</a>

			<a routerLink='' class="navbar-item">
				Home
			</a>
		</div>
	</div>
</nav>