nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background:rgba(255,255,255,0.1);
}



.navbar {
  width: 100vw;
}

div.navbar-dropdown {
  background:rgba(255,255,255,0.1);
}

a.navbar-item {
  color: white;
}

a.navbar-link {
  color: white;
}

/* Mobile Version + Media Queries */

.navbar-burger {
  color: white;
}

a:hover {
  color: white;
}

@media screen and (max-width: 1087px){
  .navbar {
    background-color: black;
  }
  
  .navbar-menu {
    background-color: black;
  }
}