@font-face {
  font-family: "nazalisation";
  src: url('../../../assets/nasalization/nasalization-rg.ttf'),
}

input {
  background-color:rgba(45,52,65,1);
  border: none;
  color: white;
  font-family: 'nazalisation';
}

input::placeholder {
  color: rgba(255,255,255,0.5)
}

.resultSearch {
  background-color: #262626;
  display: flex;
  justify-content: left;
  flex-direction: column;
  color: #fcfcfc;
  text-align: justify;
  padding: 10px;

  a {
    color: #fcfcfc;
    font-weight: bold;

    &:hover {
      transform: scale(1.1);
    }
  }
}
