$fontFamily : 'nasalization';

@mixin backgroundM () {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
video#bgvid {

    @include backgroundM();
    margin-bottom: -.5%;

}
