#eventForm {
    padding: 30px;
    min-height: 86vh;
    display: flex;
    justify-content: center;
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/calendar/galaxy.jpg');
    height: 100%;

    form {
        align-self: center;
        margin : 80px;
        background-color: #b3b3b3;
        border-radius : 30px;
        padding: 80px;

      label {

        .labelTitle {
            font-size: 25px;
        }
        input {
            margin-bottom: 10px;
        }
      } 
      
      h3{
          text-align: center;
          font-size: 30px;
          margin: 50px auto;
      }
      button {
          margin-top: 20px;
          width: 20vw;
          font-size: 24px;
          align-self: center;
      }
   }
}
