<section id="eventForm">
  <form [formGroup]="eventForm">

    <label>
      <span class="labelTitle">Month of the event :</span>
      <input 
      type="text"
      list="months"
      required
      formControlName="monthName"
      class="input"
      value=""
      [ngClass]="{'is-invalid': eventForm.get('monthName').invalid && eventForm.get('monthName').touched}"
      >
      <datalist id="months">
        <option value="January">
        <option value="February">
        <option value="March">
        <option value="April">
        <option value="May">
        <option value="June">
        <option value="July">
        <option value="August">
        <option value="September">
        <option value="October">
        <option value="November">
        <option value="December">
      </datalist>
      <div class="errorMsg" *ngIf="(eventForm.get('monthName').touched && eventForm.get('monthName').invalid) && eventForm.get('monthName').errors['required']">
        Month is a required field.
      </div>
    </label>

    <div>
      <h3>Event information</h3>

      <label>
        <span class="labelTitle">Event title :</span>
        <input 
        type="text"
        required
        formControlName="eventTitle"
        class="form-control input"
        value=""
        [ngClass]="{'is-invalid': eventForm.get('eventTitle').invalid && eventForm.get('eventTitle').touched}"
        >
        <div class="errorMsg" *ngIf="(eventForm.get('eventTitle').touched && eventForm.get('eventTitle').invalid) && eventForm.get('eventTitle').errors['required']">
            Event title is a required field.
        </div>
      </label>

      <label>
        <span class="labelTitle">Day of the event :</span>
        <input 
        type="text"
        required
        formControlName="eventDay"
        class="form-control input"
        value=""
        [ngClass]="{'is-invalid': eventForm.get('eventDay').invalid && eventForm.get('eventDay').touched}"

        >
        <div class="errorMsg" *ngIf="(eventForm.get('eventDay').touched || eventForm.get('eventDay').dirty) && eventForm.get('eventDay').errors['required']">
          Event day is a required field.
      </div>
      </label>

      <label>
        <span class="labelTitle">Event description :</span>
        <input
        type="text"
        required
        formControlName="eventDescription"
        class="form-control input"
        value=""
        [ngClass]="{'is-invalid': eventForm.get('eventDescription').invalid && eventForm.get('eventDescription').touched}"
        >
        <div class="errorMsg" *ngIf="(eventForm.get('eventDescription').touched || eventForm.get('eventDescription').dirty) && eventForm.get('eventDescription').errors['required']">
          Event description is a required field.
        </div>
      </label>

      <label>
        <span class="labelTitle">Image :</span>
        <input 
        type="text"
        required 
        formControlName="eventImage" 
        class="form-control input" 
        value=""
        [ngClass]="{'is-invalid': eventForm.get('eventImage').invalid && eventForm.get('eventImage').touched}"
        >
        <div class="errorMsg" *ngIf="(eventForm.get('eventImage').touched || eventForm.get('eventImage').dirty) && eventForm.get('eventImage').errors['required']">
          Event picture is a required field.
        </div>
      </label>

      <label>
        <span class="labelTitle">Place of the event :</span>
        <input 
        type="text" 
        required 
        formControlName="eventPlace" 
        class="form-control input" 
        value=""
        [ngClass]="{'is-invalid': eventForm.get('eventPlace').invalid && eventForm.get('eventPlace').touched}"
        >
        <div class="errorMsg" *ngIf="(eventForm.get('eventPlace').touched || eventForm.get('eventPlace').dirty) && eventForm.get('eventPlace').errors['required']">
          A place is required.
        </div>
      </label>

    </div>


    <button 
    id="submitButton" 
    type="submit" 
    (click)="sendEventInfos()" 
    [disabled]="!eventForm.valid"
    >
    Create new event
    </button>

  </form>
</section>