$fontFamily : 'nasalization';

@mixin backgroundM ($background) {

    background-image: $background;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;
}


.background {

    @include backgroundM(url('https://i.postimg.cc/KjBM7XwG/astronaut-1784245.jpg'));

}

.tabs {
    display : flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.h1title{
    color: #eee;
    font-family: $fontFamily;
    font-size: 3rem;
    text-align: center;
    padding-top: 16vh;
}
