$fontFamily : 'nasalization';

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    min-width: 100vw; 
    min-height: 100vh;
    z-index: -1;
  }
  
  .video-container{
    text-align: center;
  }

  @mixin backgroundM ($background) {

    background-image: $background;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 12vh;
  }
  
  
  @media screen and (max-width: 1087px) {
    .background {
      @include backgroundM(url('../../../assets/LiveISS/moonBackground.png'));
      padding-bottom: 5vh;
    }

    #myVideo {
      display : none;
    }
  }

.tabs {
    display : flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.h1title{
    color: #eee;
    font-family: $fontFamily;
    font-size: 3rem;
    text-align: center;
    padding-top: 16vh;
    padding-bottom: 5vh;
}
