// Search bar position

app-search-bar {
  position: fixed;
  margin: 2vh 0 0 15vw;
  z-index: 30;
}

// search bar position media queries

@media (max-width: 920px) {
  app-search-bar {
    margin: 8.5vh 0 0 3vw;
    width: 93vw;
  }
}
