@mixin backgroundM ($background) {

    background-image: $background;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.background {

    @include backgroundM(url('https://i.postimg.cc/KjBM7XwG/astronaut-1784245.jpg'));
    height:auto;
}

.tabs {
    height: 70vh;
    display : flex;
    justify-content: center;
    align-items: center;
}

#eventsCards {
    margin-top : 10vh;
}

.h1title{
    color: #eee;
    font-family: 'nasalization';
    font-size: 3rem;
    text-align: center;
    padding-top: 16vh;
}