$fontFamily : 'nasalization';

@mixin background () {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

section {
    @include background();
    background-image: url('../../../assets/calendar/galaxy.jpeg');
    min-height: 100vh;
    overflow: hidden;

    h2 {
        color:white;
        font-family: $fontFamily;
        font-size: 2rem;
        padding-top: 120px;
    }

    /* media queries */

    @media screen and (max-width: 640px) {
        h2 {
            padding-top: 80px;
        }
    }
}

/* desktop */

#calendarCards {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    min-height:100vh;
    padding-bottom:0;
    padding-top: 40px;
    width:100vw;

    #card1 {
        @include background();
        width:100%;
    }

    /* div containing all the cards */

    .card-inner {
        cursor:pointer;
        height: 300px;
        justify-content: center;
        text-align: center;
        width: 30vw;
        margin : 10px;
    }

    /* media queries cards layout */

    @media screen and (max-width: 850px) {
        .card-inner {
            width:40vw;
            margin : 10px;
        }
    }

    @media screen and (max-width: 640px) {
        .card-inner {
            width:300px;
            margin : 10px;
        }
    }
    
    .cardsBack {
        height: 100%;
        opacity: 0;
        transition: opacity 1s, visibility 1s;
        visibility: hidden;
        width: 100%;
      }
    
    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        opacity: 1;
        overflow: hidden;
        padding: 2px 16px;
        visibility: visible;
        width: 100%;

        h4 {
            font-size: 28px;
        }
    
        p, h4 {
            color:white;
            font-family: $fontFamily;
            padding-bottom: 15px;
            text-align: center;
            width : 100%;
            
        }

        p {
            font-size: 18px;
        }
    }

    .card-inner:hover .container {
        display : none;
    }
    
    .card-inner:hover .cardsBack {
        align-items: center;
        background-color: rgba(38, 38, 38, 0.6);
        display:flex;
        justify-content: center;
        opacity : 1;
        visibility: visible;
    
        p, h4 {
            color:white;
            font-family: $fontFamily;
        }
    }
}

/* sliding menu */

#slideMenu {
    z-index : 2;
}

#monthsMenu {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hamburger {
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    color:white;
    cursor: pointer;
    display: block;
    font-size: 30px;
    height: 80px;
    margin: 0;
    padding: 0;
    position: relative;
    outline: none;
    width: 80px;
}

  .hamburger:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

/* media queries */

.hamburger {
    height: 60px;
    width: 60px;
}

   
   
 
