$fontFamily : 'nasalization';

@mixin background () {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

section {
    min-height: 100vh;
    background-image: url('../../../assets/calendar/galaxy.jpeg');
    @include background();

    h2 {
        color:white;
        font-family: $fontFamily;
        padding-top: 120px;
        font-size: 2rem;
    }

    /* media queries */

    @media screen and (max-width: 640px) {
        h2 {
            padding-top: 80px;
        }
    }
}

/* desktop */

#calendarCards {
    min-height:100vh;
    width:100vw;
    padding-top: 40px;
    padding-bottom:0;
    display: flex;
    justify-content: center;

    #card1 {
        @include background();
        width:100%;
    }

    /* div containing all the cards */

    .card {
        background: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: fit-content;
    }

    .card-inner {
        height: 300px;
        text-align: center;
        cursor:pointer;
        margin: 10px;
        justify-content: center;
        width: 30vw;
    }

    @media screen and (max-width: 850px) {
        .card-inner {
            width:40vw;
        }
    }

    @media screen and (max-width: 640px) {
        .card-inner {
            width:300px;
        }
    }
    
    .cardsBack {
        width: 100%;
        height: 300px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 900ms, visibility 900ms;
      }
    
    .container {
        padding: 2px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
        visibility: visible;
        opacity: 1;

        h4 {
            font-size: 24px;
        }
    
        p, h4 {
            color:white;
            text-align: center;
            font-family: $fontFamily;
            width : 100%;
        }
    }

    .card-inner:hover .container {
        display : none;
    }
    
    .card-inner:hover .cardsBack {
        display:flex;
        align-items: center;
        background-color: rgba(38, 38, 38, 0.6);
        justify-content: center;
        visibility: visible;
        opacity : 1;
    
        p, h4 {
            color:white;
            font-family: $fontFamily;
        }
    }
}

/* sliding menu */

#slideMenu {
    z-index : 2;
}

#monthsMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    color:white;
    font-size: 30px;
}

  .hamburger:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

/* media queries */

.hamburger {
    width: 60px;
    height: 60px;
}

   
   
 
