<section>
    <h1>Events 2019</h1>

  <div id="monthsMenu">
    <h2>{{ monthName }} </h2>

    <button (click)="toogleMenu()" class="hamburger">
      <i class="fas fa-plus" *ngIf="menuIcon"></i>
      <i class="fas fa-minus" *ngIf="!menuIcon"></i>
    </button>
  </div>

  <app-months-menu 
  id="slideMenu" 
  [@slideInOut]="menuState"
  (changeMonthName)="getNewName($event)"
  ></app-months-menu>

  <div id="calendarCards">
    <div class="card-inner"
    *ngFor="let event of eventsToDisplay"
    >
      <div 
      id="card1"
      class="container" 
      [ngStyle]="{'background-image': 'url(' + event.eventImage + ')'}"
      >
        <h4><b>{{ event.eventTitle }}</b></h4>
        <p>{{ event.eventDay + ' ' + event.monthName + ' 2019' }}</p>
        <p>{{ event.eventPlace }}</p>
      </div>
      <div class="cardsBack">
        <p>{{ event.eventDescription }}</p>
      </div>
    </div>
  </div>

</section>
