.colUnit, .sideBarPlanet {

  width: 3vw;
  margin-top: -30%;
  color: whitesmoke;
  align-items: center;
  grid-row: 2 / span 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.colUnit {

  margin-left: 48%;

}

.contHr {

  grid-column: 2;
  grid-row: 2 / span 2;

}

h2, h3 {

    color: #eee;
    font-family: 'nazalisation', sans-serif;

}

h2 {

  font-size: 3rem;
  text-align: center;
  margin-top: 6vh;

}

h3 {

  font-size: 1.5rem;

}

hr {

  width: 2vw;
  grid-column: 2;
  grid-row: 2 / span 3;
  margin: 0.5rem 0;
  color: #ddd;

}

hr:nth-child(1), hr:nth-child(11), hr:nth-child(21), hr:nth-child(31) {

  width:5vw;

}

hr:nth-child(6), hr:nth-child(16), hr:nth-child(26) {

  width:3.5vw;

}

.properties {

  grid-column: 5;
  grid-row: 2;
  color: #ddd;

}

.properties ul li {

  margin-left: 3%;

}

.rectangleSwitchPlanet {

    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr 3fr 1fr;
    grid-template-rows: 20vh 20vh 20vh 20vh;

}

.row1 {

    grid-row: 1;
    grid-column: 4;

}

.sideBarPlanet {

  grid-column: 3;
  grid-row: 2 / span 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;

}

span {

  line-height: 2rem;

}

.tabsHistSci {

  grid-column: 4;
  grid-row: 4 / span 2;

}

// media queries only for chrome //

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    
    .colUnit, .sideBarPlanet {

      height: 47vh;
      font-size: 1.8rem;
      margin-top: -15px;

    }

    h3 {

      font-size: 1.3rem;
    
    }

    

}


@supports (-moz-appearance: none) {

  .colUnit, .sideBarPlanet {

    height: 100%;
    margin-top: -25px;
    font-size: 2.5rem;

  }

  h3 {

    font-size: 1.5rem;
  
  }

}
