<div class="rectangleSwitchPlanet">
    <div class="row1">
          <h2>
            {{ planetName[currentIndex] | uppercase }}
          </h2>
    </div>

    <ul class="colUnit">
      <li>0</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>

    <div class="contHr">
      <hr *ngFor="let graduation of tabGrad">
    </div>

    <div class="sideBarPlanet">
      <p *ngFor="let planet of planetName; let j = index" 
          href="" 
          (click)="changePlanetInfo(j)"
      >
        {{ planet }}
      </p>
    </div>

    <div class="tabsHistSci">
      <app-tabs-history-science></app-tabs-history-science>
    </div>

    <div class="properties">
      <ul>
        <h3>Composition Chimique</h3>
        <li>Most Abondant 96,5% H</li>
        <li>Few quantity 3,5% He</li>
        <li>Traces CH<sub>4</sub>, C<sub>2</sub>H<sub>6</sub>, NH<sub>3</sub>, C<sub>2</sub>H<sub>2</sub>, PH<sub>3</sub></li>
        <li>Nuages NH<sub>3</sub>, NH<sub>4</sub>SH, H<sub>2</sub>O</li>
        <br>
        <h3>Données Physiques</h3>
        <li>Diamètre (km) : 120 660</li>
        <li>Diamètre (/Terre) : 9,46</li>
        <li>Densité : 0,69</li>
        <li>Masse (/Terre) : 95,2</li>
        <li>Rotation sidérale : 10 h 39 mn</li>
      </ul>
    </div>
</div>
