/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/bulma/';
@import '../node_modules/leaflet/dist/leaflet.css';

@font-face {
  font-family: 'nasalization';
  src: url('assets/nasalization/nasalization-rg.ttf');
}

body {
    margin: 0%;
}

@mixin backgroundM ($background) {

  background-image: $background;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
