
<section>
  <h2>JANUARY</h2>
<div id="calendarCards">
    <div class="card">
      <div class="card-inner">
        <div id="card1" class="container">
          <h4><b>Event name</b></h4>
          <p>Small description...</p>
        </div>
        <div class="cardsBack">
          <p>Texte de présentation</p>
        </div>
      </div>
    </div> 

    <div class="card">
      <div class="card-inner">
        <div id="card2" class="container">
          <h4><b>Event name</b></h4>
          <p>Small description...</p>
        </div>
        <div class="cardsBack">
          <h4>Event name</h4>
          <p>Event description...</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-inner">
        <div id="card3" class="container">
          <h4><b>Event name</b></h4>
          <p>Small description...</p>
        </div>
        <div class="cardsBack">
          <p>Texte de présentation</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-inner">
        <div id="card4" class="container">
          <h4><b>Event name</b></h4>
          <p>Small description...</p>
        </div>
        <div class="cardsBack">
          <p>Texte de présentation</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-inner">
        <div id="card5" class="container">
          <h4><b>Event name</b></h4>
          <p>Small description...</p>
        </div>
        <div class="cardsBack">
          <p>Texte de présentation</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-inner">
        <div id="card6" class="container">
          <h4><b>Event name</b></h4>
          <p>Small description...</p>
        </div>
        <div class="cardsBack">
          <p>Texte de présentation</p>
        </div>
      </div>
    </div>
  </div>
</section>
