<section>

  <div class="card">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Event name</b></h4>
      <p>Small description...</p>
    </div>
  </div> 

  <div class="card">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Event name</b></h4>
      <p>Small description...</p>
    </div>
  </div>

  <div class="card">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Event name</b></h4>
      <p>Small description...</p>
    </div>
  </div>

  <div class="card">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Event name</b></h4>
      <p>Small description...</p>
    </div>
  </div>

  <div class="card">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Event name</b></h4>
      <p>Small description...</p>
    </div>
  </div>

  <div class="card">
    <img src="img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Event name</b></h4>
      <p>Small description...</p>
    </div>
  </div>
</section>
