.main {
    margin-top: 80px;
    display:flex;
    align-items: center;
    flex-direction: column;

    p {
        margin-bottom: 50px;
        font-size: 50px;
    }

    form {
        background-color: rgba(192,192,192,0.8);
        padding: 15px;
        border-radius: 15px;

        label {
            font-size:25px;
        }

        input {
            width: 200px;
            height: 22px;
            margin-left: 10px;
        }
        
        .descriptionForm {
            height: 50px;
        }

    }
}