
<div class="main">

  <h1>Sky Event</h1>

    <form (ngSubmit)="myForm.valid && onSubmit(form)" #myForm='ngForm'>
      
      <div>

        <label for="title">Title</label>
        <input 
        class="form-control"
        #titleText='ngModel'
        name="title-skyEvent"
        type="text" 
        id="title"
        [(ngModel)]="skyEvent.title"
        maxlength="20"
        required>
        
      </div>

      <div *ngIf="myForm.submitted && titleText.errors">

        <span *ngIf="titleText.errors.required">This field is required</span>
        <span *ngIf="titleText.errors.maxlength">20 characters maximum</span>

      </div>

      <div>
               
        <label for="date">Date</label>
        <label>  ex: Jan 5, 2021 15:37:25 </label>
        <input 
        class="form-control"
        #dateText='ngModel'
        type="text" 
        id="date"
        [(ngModel)]="skyEvent.date"
        name="date-skyEvent"
        required>
        
      </div>

      <div *ngIf="myForm.submitted && dateText.errors">

          <span *ngIf="dateText.errors.required">A date is required</span>
        
      </div>

      <div>
        
        <label for="description">Description</label>
        <input 
        class="form-control"
        #descriptionText='ngModel'
        type="text" 
        id="description"
        [(ngModel)]="skyEvent.description"
        maxlength="80"
        name="description-skyEvent"
        required>
        
      </div>

      <div *ngIf="myForm.submitted && descriptionText.errors">

        <span *ngIf="descriptionText.errors.required">this field is required</span>
        <span *ngIf="descriptionText.errors.maxlength">80 characters maximum</span>

      </div>


      <div class="button">

        <button 
        type="submit"
        >Promote</button>

      </div>

    </form>

</div>
